div.mobile-div {
	width: 100%;
	height: 100vh;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1.mobile-h1 {
	font-weight: lighter;
	font-size: 40px;
}
